<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>tuan</display-name>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>com.tuan.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>Charset</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.tuan.filter.LoginFilter</filter-class>
    <init-param>
      <param-name>userIdMaxLength</param-name>
      <param-value>30</param-value>
    </init-param>
    <init-param>
      <param-name>passwordLength</param-name>
      <param-value>32</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>signupFilter</filter-name>
    <filter-class>com.tuan.filter.SignupFilter</filter-class>
    <init-param>
      <param-name>mailboxMaxLength</param-name>
      <param-value>30</param-value>
    </init-param>
    <init-param>
      <param-name>passwordLength</param-name>
      <param-value>32</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>activityPublishFilter</filter-name>
    <filter-class>com.tuan.filter.ActivityPublishFilter</filter-class>
    <init-param>
      <param-name>nameMaxLength</param-name>
      <param-value>30</param-value>
    </init-param>
    <init-param>
      <param-name>positionMaxLength</param-name>
      <param-value>128</param-value>
    </init-param>
    <init-param>
      <param-name>descriptionMaxLength</param-name>
      <param-value>300</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/user/login</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>signupFilter</filter-name>
    <url-pattern>/user/signup</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>activityPublishFilter</filter-name>
    <url-pattern>/activity/publish</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>com.tuan.controller.UserEntryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/user/login</url-pattern>
    <url-pattern>/user/signup</url-pattern>
    <url-pattern>/user/logout</url-pattern>
    <url-pattern>/user/check-token</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>activityServlet</servlet-name>
    <servlet-class>com.tuan.controller.ActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>activityServlet</servlet-name>
    <url-pattern>/activity/publish</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>activityCoverServlet</servlet-name>
  	<servlet-class>com.tuan.controller.ActivityCoverServlet</servlet-class>
  	<init-param>
  		<param-name>basePath</param-name>
  		<param-value>/home/ubuntu/Jiahua/app/tuan/activity_cover/</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>activityCoverServlet</servlet-name>
  	<url-pattern>/activity/cover</url-pattern>
  </servlet-mapping>
</web-app>